.page
  .page-header
    .page-title
      %h1
        Edit profile
    .actions
      = link_to "Go Back", :back, class: 'btn btn-default'

  .user-form-wrapper
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'user-form' })  do |f|
      %fieldset
        = f.input :email, autofocus: true
      %fieldset
        = f.input :name
        = f.input :surname
        = f.input :patronymic
        = f.input :description
      %fieldset
        = f.input :password, input_html: { autocomplete: "off" }, hint: "(leave blank if you don't want to change it)"
        = f.input :password_confirmation, input_html: { autocomplete: "off" }
        = f.input :current_password, input_html: { autocomplete: "off" }, hint: "(we need your current password to confirm your changes)"
      = link_to "Go Back", :back, class: 'btn btn-default'
      = f.button :submit, class: 'btn btn-success'
