= simple_form_for @article, html: { class: 'form form-horizontal' } do |article_form|
  .horizontal-forms
    .wrapper
      .main-form
        .field
          = article_form.input :title
        .field
          = article_form.input :text, input_html: {class: 'summernote'}

      .sub-form
        .documents-container
          .title
            = fa_icon 'caret-up'
            Documents
          = simple_fields_for :documents, Document.new do |document_form|
            %ul.documents-list
              - @article.documents.each do |document|
                %li
                  = square('document') do
                    .content
                      .preview
                        - if document.file.image?
                          = image_tag document.file.thumb
                      .name= document.filename
                    = link_to document, class: 'content remove' do
                      = fa_icon 'trash-o'
              %li.add-document
                = square('upload-button') do
                  .content
                    = fa_icon(:plus)
                    = document_form.file_field :file, 'data-url' => documents_path

    .form-actions
      = link_to 'Go back', user_root_path, class: 'btn btn-default'
      = article_form.button :submit, class: 'btn btn-success'