.page
  .page-header
    %h1.page-title Articles list 
    .actions= link_to "New article", new_article_path, class: 'btn btn-success'

  %ul.articles
    - @articles.each do |article| 
      %li.article-wrapper
        %span.actions-wrapper
          =link_to '', edit_article_path(article), class: 'fa fa-pencil'
          =link_to '', article_path(article), method: :delete, confirm: "Are you sure?", class: 'fa fa-trash-o'
        = link_to article, class: 'article' do
          .header
            %span.text= article.title
          .content= article.decorate.short_text
          .meta-info
            .author= 'Author: ' + article.user.email
            .updated= 'Updated at: ' + article.updated_at.to_s
            %ul
              %li.documents= 'Documents: ' + article.documents.count.to_s
              %li.comments= 'Comments: 0'

  -#      .documents
  -#        - article.documents.each do |document|
  -#          - if document.file.image?
  -#            .document= image_tag document.file_url(:thumb)
  -#          - else 
  -#            .document= link_to document.title ,document.file.url, target: :_blank