#article-show.container
  .row
    .col-sm-8.blog-main
      .blog-post
        %h2.blog-post-title=@article.title
        %p.blog-post-meta
          =@article.created_at 
          by
          %a{:href => "#"}= @article.user.email
        %p=@article.text.html_safe
        
      - unless @article.documents.empty?
        .documents-container
          .title
            = fa_icon 'caret-down'
            Documents
          %ul.documents-list
            - @article.documents.each do |document|
              %li
                = square('document') do
                  .content
                    .preview
                      - if document.file.image?
                        = image_tag document.file.thumb
                    .name= document.filename
        
      .discussion
        .title 
          =fa_icon 'comment' 
          Discussion
        = render @article.comments

        = simple_form_for @comment, method: :post, html: {class: 'main-comment-form'}, remote: true, format: :json do |f|
          = f.input :text, as: :text,label: false, input_html: {class: 'form-control col-sm-12'}
          = f.input :commentable_type, as: :hidden
          = f.input :commentable_id, as: :hidden
          = f.input :user_id, as: :hidden
          = f.button :submit, 'Post comment', class: 'post-comment btn btn-info'

    .col-sm-3.col-sm-offset-1.blog-sidebar
      .sidebar-module.sidebar-module-inset
        %h4 About
        %p
          Etiam porta
          %em sem malesuada magna
          mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.
      .sidebar-module
        %h4 Archives
        %ol.list-unstyled
          %li
            %a{:href => "#"} January 2014
          %li
            %a{:href => "#"} December 2013
          %li
            %a{:href => "#"} November 2013
          %li
            %a{:href => "#"} October 2013
          %li
            %a{:href => "#"} September 2013
          %li
            %a{:href => "#"} August 2013
          %li
            %a{:href => "#"} July 2013
          %li
            %a{:href => "#"} June 2013
          %li
            %a{:href => "#"} May 2013
          %li
            %a{:href => "#"} April 2013
          %li
            %a{:href => "#"} March 2013
          %li
            %a{:href => "#"} February 2013
      .sidebar-module
        %h4 Elsewhere
        %ol.list-unstyled
          %li
            %a{:href => "#"} GitHub
          %li
            %a{:href => "#"} Twitter
          %li
            %a{:href => "#"} Facebook